<!DOCTYPE HTML>
<html>
  {{> header}}
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{allCaps pageHeader}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>SiteMap</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/">Home</a>
      </div>
      <div class="col">
        <a href="/help">Help</a>
      </div>
      <div class="col">
        <a href="/project">Gallery</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Developed by Hackers, for Hackers</p>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-danger btn-block" onclick=example()>{{button}}</button>
      </div>
    </div>
  </div>



  {{> footer}}

</body>
</html>
