<!DOCTYPE HTML>
<html>
{{> header}}
  <h1>Project Gallery</h1>
  <p>Developed by Hackers, for Hackers</p>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <a href="#">Project 1</a>
      </div>
      <div class="col-4">
        <a href="#">Project 2</a>
      </div>
      <div class="col-4">
        <a href="#">Project 3</a>
      </div>
    </div>
  </div>

  {{> footer}}
</body>
</html>
